<form action="/chilis/$chili.getId()/bean" method="post">
  <label for="bean">What kind of bean?</label>
  <input type="text" name="bean" id="bean">
  <button type="submit" class="btn btn-sucess">Add Bean</button>
</form>

<a href="/">Go Home</a>
