<h4>Let's make another chili!</h4>
<form action="/chili" method="post">
  <label for="chili">What kind of chili are we making?</label>
  <input type="text" name="chili" id="chili">
  <button type="submit" class="btn btn-sucess">Add Chili</button>
</form>

<a href="/">Go Home</a>
